<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DaftarResto</servlet-name>
        <servlet-class>usd.project.controller.DaftarResto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarPengunjungNew</servlet-name>
        <servlet-class>usd.project.controller.DaftarPengunjungNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarPengunjung</servlet-name>
        <servlet-class>usd.project.controller.DaftarPengunjung</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>usd.project.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletPengunjung</servlet-name>
        <servlet-class>usd.project.controller.LoginServletPengunjung</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.editMejaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KonfirmasiTransaksiServlet</servlet-name>
        <servlet-class>usd.project.controller.KonfirmasiTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>usd.project.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatReservasiServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatReservasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatTransaksiServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatMejaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTransaksiServlet</servlet-name>
        <servlet-class>usd.project.controller.DetailTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tambahMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.tambahMejaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JadwalMejaServlet</servlet-name>
        <servlet-class>usd.project.controller.JadwalMejaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatJadwalServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatJadwalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gantiPassServlet</servlet-name>
        <servlet-class>usd.project.controller.gantiPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePengunjung</servlet-name>
        <servlet-class>usd.project.controller.updatePengunjung</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gantiPasswordpengunjung</servlet-name>
        <servlet-class>usd.project.controller.gantiPasswordpengunjung</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiwayatTransaksiPengunjungServlet</servlet-name>
        <servlet-class>usd.project.controller.RiwayatTransaksiPengunjungServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasiServlet</servlet-name>
        <servlet-class>usd.project.controller.ReservasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesReservasiServlet</servlet-name>
        <servlet-class>usd.project.controller.ProsesReservasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pembayaranServlet</servlet-name>
        <servlet-class>usd.project.controller.pembayaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirimPembayaranServlet</servlet-name>
        <servlet-class>usd.project.controller.KirimPembayaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatInvoiceServlet</servlet-name>
        <servlet-class>usd.project.controller.LihatInvoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DaftarResto</servlet-name>
        <url-pattern>/DaftarResto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMejaServlet</servlet-name>
        <url-pattern>/editMejaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KonfirmasiTransaksiServlet</servlet-name>
        <url-pattern>/KonfirmasiTransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatReservasiServlet</servlet-name>
        <url-pattern>/LihatReservasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatTransaksiServlet</servlet-name>
        <url-pattern>/LihatTransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatMejaServlet</servlet-name>
        <url-pattern>/LihatMejaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTransaksiServlet</servlet-name>
        <url-pattern>/DetailTransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tambahMejaServlet</servlet-name>
        <url-pattern>/tambahMejaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JadwalMejaServlet</servlet-name>
        <url-pattern>/JadwalMejaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatJadwalServlet</servlet-name>
        <url-pattern>/LihatJadwalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gantiPassServlet</servlet-name>
        <url-pattern>/gantiPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletPengunjung</servlet-name>
        <url-pattern>/LoginServletPengunjung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePengunjung</servlet-name>
        <url-pattern>/updatePengunjung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gantiPasswordpengunjung</servlet-name>
        <url-pattern>/gantiPasswordpengunjung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiwayatTransaksiPengunjungServlet</servlet-name>
        <url-pattern>/RiwayatTransaksiPengunjungServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasiServlet</servlet-name>
        <url-pattern>/ReservasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesReservasiServlet</servlet-name>
        <url-pattern>/ProsesReservasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pembayaranServlet</servlet-name>
        <url-pattern>/pembayaranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirimPembayaranServlet</servlet-name>
        <url-pattern>/KirimPembayaranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarPengunjungNew</servlet-name>
        <url-pattern>/DaftarPengunjungNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarPengunjung</servlet-name>
        <url-pattern>/DaftarPengunjung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatInvoiceServlet</servlet-name>
        <url-pattern>/LihatInvoiceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
